<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.xc.mapper.BookinfoMapper">
    <select id="GetUsers" resultType="Users">
      select * from users where usercode=#{usercode} and password=#{password}
    </select>
    
    <select id="GetBookinfo" resultType="Bookinfo">
    select * from bookinfo where 1=1
    <if test="booktype!=null and booktype>0">
    and booktype=#{booktype}
    </if>
    <if test="bookatuthor!=null and bookatuthor!=''">
    and bookatuthor like concat('%',#{bookatuthor},'%')
    </if>
    <if test="isborrow!=null and isborrow>0">
    and isborrow=#{isborrow}
    </if>
    </select>
    
    <select id="Getbooktypeisborrow" resultType="Bookinfo">
    select * from bookinfo
    </select>
</mapper>